div.container {position: relative; width: 86vmin; height: 86vmin;}
div.container > div { position: absolute; }
div.dial {width: 100%; height: 100%; border: 5vmin solid grey; border-radius: 50%;}
div[id=temperature] {position: absolute; top: 32vmin; right: 4vmin; font-weight: bold; font-size: 30vmin;}